@{
    ViewData["Title"] = "Cartões";
}
<div class="card-group" style="padding:50px;">
    <div class="card" style="width: 18rem; margin:10px">
        <img decoding="async" src="https://via.placeholder.com/150" />
        <h1>Meu cartão</h1>
        <p>Descrição</p>
        <p>substantivo masculino Grupo de pessoas cantando em conjunto; coral: coros de igreja. Parte de uma canção que é repetida; refrão. Qualquer trecho de uma obra musical cantada por várias vozes. Parte da ópera composta para ser cantada por várias pessoas</p>
        <input type="button" class="btn btn-primary" value="Comprar" />
    </div>

    <div class="card" style="width: 18rem; margin:10px">
        <img decoding="async" src="https://via.placeholder.com/150" />
        <h1>Meu cartão</h1>
        <p>Descrição</p>
        <p>substantivo masculino Grupo de pessoas cantando em conjunto; coral: coros de igreja. Parte de uma canção que é repetida; refrão. Qualquer trecho de uma obra musical cantada por várias vozes. Parte da ópera composta para ser cantada por várias pessoas</p>
        <input type="button" class="btn btn-primary" value="Comprar" />
    </div>

    <div class="card" style="width: 18rem; margin:10px">
        <img decoding="async" src="https://via.placeholder.com/150" />
        <h1>Meu cartão</h1>
        <p>Descrição</p>
        <p>substantivo masculino Grupo de pessoas cantando em conjunto; coral: coros de igreja. Parte de uma canção que é repetida; refrão. Qualquer trecho de uma obra musical cantada por várias vozes. Parte da ópera composta para ser cantada por várias pessoas</p>
        <input type="button" class="btn btn-primary" value="Comprar" />
    </div>

</div>