@{
    ViewData["Title"] = "Cartões";
}
<div class="alert alert-info">
    <h1 class="text-center">Produtos electronicos</h1>
</div>

<div class="card-group" style="padding:100px;">
    <div class="row">

        <div class="card" style="width: 18rem;height:750px; margin:10px">
            <img decoding="async" src="~/imagens/galaxyA72.jpg" style="width:250px;height:200px" />
            <h1>GALAXY A72</h1>
            <p>Descrição</p>
            <p>
                O Samsung Galaxy A72 é um smartphone Android de gama média com um ecrã de 6,7 polegadas e uma câmara quádrupla de 64 MP. O A72 foi lançado em março de 2021 e tem as seguintes especificações:
                Sistema: Android 11
                Processador: Snapdragon 720G (octa-core de até 2,3 GHz)
                Memória RAM: 6 GB
                Armazenamento interno: 128 GB, expansível para até 1 TB com cartão SD
                Câmara principal: Quádrupla, 64, 8, 12 e 5 MP
                Câmara frontal: 32 MP
                Resolução da câmara: 9238×6928 pixels
                Resolução de vídeo: 3840×2160 pixels
            </p>
            <input type="button" class="btn btn-primary" value="Comprar" />
        </div>

        <div class="card" style="width: 18rem;height:750px; margin:10px">
            <img decoding="async" src="~/imagens/hd.jpg" style="width:250px;height:200px" />
            <h1>HD EXTERNO</h1>
            <p>Descrição</p>
            <p>
                Um HD externo é um dispositivo que se conecta a uma porta do computador e oferece mais espaço de armazenamento para guardar dados. Ao contrário de uma unidade interna, que está firmemente instalada dentro do computador, um HD externo é portátil.
                Um HD externo tem um disco rígido com uma supercapacidade de guardar informações. Ao contrário de arquivos salvos na nuvem, o HD Externo dispensa a necessidade de acesso à Internet.
                Algumas marcas de HDs externos são Seagate, Lacie e Toshiba.
            </p>
            <input type="button" class="btn btn-primary" value="Comprar" />
        </div>

        <div class="card" style="width: 18rem;height:750px; margin:10px">
            <img decoding="async" src="~/imagens/hp.jpg" style="width:250px;height:200px" />
            <h1>HP ELITEBOOK G3</h1>
            <p>Descrição</p>
            <p>
                O HP EliteBook 820 G3 é um portátil leve e prático. Tem um processador Intel Core i5-6200U, 4 GB de RAM, 128 GB de SSD e um ecrã de 12,5 polegadas. O portátil também tem Bluetooth 4.2 e o sistema operativo Windows 10.
                O HP EliteBook 820 G3 tem as seguintes ligações:
                2x USB 3.0
                1x USB Type C
                VGA
                DisplayPort 1.2
            </p>
            <br />
            <br />
            <br />
            <input type="button" class="btn btn-primary" value="Comprar" />
        </div>
        <div class="card" style="width: 18rem;height:750px; margin:10px">
            <img decoding="async" src="~/imagens/mouse.jpg" style="width:250px;height:200px" />
            <h1>MOUSE</h1>
            <p>Descrição</p>
            <p>Em computação, um cursor é um indicador usado para mostrar a posição em um monitor de vídeo ou display que irá responder à adição de texto ou movimentos do mouse</p>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

            <input type="button" class="btn btn-primary" value="Comprar" />
        </div>

        <div class="card" style="width: 18rem;height:750px; margin:10px">
            <img decoding="async" src="~/imagens/ssd-m2.jpg" style="width:250px;height:200px" />
            <h1>SSD M2</h1>
            <p>Descrição</p>
            <p>
                SSD significa Solid State Drive, ou unidade de estado sólido. É um dispositivo de armazenamento de estado sólido que usa conjuntos de circuitos integrados para armazenar dados de forma persistente.
                Os SSDs armazenam dados permanentes na memória, ou seja, que não são perdidos nem mesmo quando a energia é desligada.
                Os SSDs são mais rápidos e mais silenciosos do que os tradicionais HDDs. Além disso, os SSDs geram menos calor e são mais resistentes a choques, quedas, batidas e vibrações.
            </p>

            <input type="button" class="btn btn-primary" value="Comprar" />
        </div>

        <div class="card" style="width: 18rem;height:750px; margin:10px">
            <img decoding="async" src="~/imagens/ssd.jpg" style="width:250px;height:200px" />
            <h1>SSD SATA</h1>
            <p>Descrição</p>
            <p>
                SSD significa Solid State Drive, ou unidade de estado sólido. É um dispositivo de armazenamento de estado sólido que usa conjuntos de circuitos integrados para armazenar dados de forma persistente.
                Os SSDs armazenam dados permanentes na memória, ou seja, que não são perdidos nem mesmo quando a energia é desligada.
                Os SSDs são mais rápidos e mais silenciosos do que os tradicionais HDDs. Além disso, os SSDs geram menos calor e são mais resistentes a choques, quedas, batidas e vibrações.
            </p>
            <input type="button" class="btn btn-primary" value="Comprar" />
        </div>
    </div>
</div>