@{
   ViewData["Title"]="Tabelas";
}
<table class="table table-bordered border-dark">
   <thead>
   <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
   </tr>
   </thead>
   <tbody>
   <tr>
      <td>Pedro</td>
      <td>Afonso</td>
   </tr>
   <tr>
      <td>Mateus</td>
      <td>Malaquias</td>
   </tr>
   </tbody>
</table>